/* .card {
  background-image: url(https://funart.pro/uploads/posts/2021-04/1618025246_39-p-oboi-rastitelnii-i-zhivotnii-mir-47.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
} */
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inp1 {
  margin-top: 20px;
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.page {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn-pages {
  margin-top: 20px;
  cursor: pointer;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.6);
}
.btn-pages:hover {
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: white;
}
