.main_modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.inner_modal {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
  background-color: aliceblue;
  margin: 150px auto;
  text-align: center;
}
