.edit {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.form {
  width: 400px;
  height: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inps {
  width: 350px;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.edit Button {
  margin-top: 10px;
}
