.navbar {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgb(112, 110, 110);
  border-bottom: 3px solid black;
  background-color: rgb(255, 239, 16);
  box-shadow: 0px 0px 5px;
  height: 60px;
}
.navbar-item {
  margin: 15px 15px;
  color: black;
  border: none;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}
.navbar-item:hover {
  color: black;
  cursor: pointer;
  border-bottom: 4px solid black;
}

.avatar {
  margin: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
