.navbar {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(112, 110, 110);
  border-bottom: 3px solid black;
  background-color: rgb(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px;
  height: 60px;
}
.navbar-item {
  margin: 15px 15px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}
.navbar-item:hover {
  color: black;
  cursor: pointer;
  border-bottom: 2px solid black;
}
