.navbar {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(112, 110, 110);
  border-bottom: 1px solid rgb(112, 110, 110);
  background-color: rgb(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px;
}
.navbar-item {
  margin: 15px 15px;
  color: black;
  border: none;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}
.navbar-item:hover {
  /* color: grey; */
  cursor: pointer;
  border-bottom: 1px solid grey;
}
