.footer {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  height: 190px;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 100px;
  cursor: pointer;
  margin-top: 40px;

  color: black;
  background-color: orange;
}

.footer footer:hover {
  background-color: #fdfdfdfc;
}

.footer img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: black;
}
