.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inp {
  width: 400px;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background-color: aliceblue;
}

.btn {
  margin-top: 10px;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  background-color: rgb(211, 224, 211);
  border: none;
}

.btn:hover {
  background-color: grey;
  box-shadow: 2px 2px 2px;
}
